.primary{
    color: rgb(84, 78, 133);
}

.container{
    max-width: 1600px;
    margin: 0 auto;
}
.row{
    display:flex; 
    flex-wrap: wrap;
}
.introblock .row{
    align-items: center;
}
.avatar{
    width:20%;
}
.avatar img{
    width: 80%;
    border-radius: 10%;
}
.content{
    width: 70%;
}
.contact_Info ul{
    list-style: none;
    padding: 0;
}
.contact_Info>ul li{
    display: inline;
    padding: 12px;
}
.secondary{
    color: rgb(69, 63, 109);
}
.title{
    font-size: 30px;
}
.education-item{
    display: flex;
    align-items: top;
    width: 35%;
}
.education-item .logo{
    width: 20%;
}
.education-item .logo img{
    width: 100%;
}
.education-item ul li{
    list-style: none;
    padding: 2px ;
}
.education-item ul :nth-child(1){
    color: rgb(69, 63, 109);
}
.education-item ul :nth-child(2){
    font-weight: 700;
    font-size:20px;
}
.education-item ul :nth-child(3){
    color:rgb(69, 63, 109);
}
.others-block{
    display: flex;
    flex-wrap: wrap;
}
.others-block h3{
    padding-bottom: 1px;
    border-bottom: 1px solid rgb(69, 63, 109);
}
.skills{
    padding-right: 5px;
}
.languages{
    padding-left: 5px;
}
.others-block>div{
    width: 50%;
}
.others-block>* {
    box-sizing: border-box;
}